@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="formCentr">
    <div class="formStyle">
 <a class="labl-bold" asp-controller="NewBuildingss" asp-action="Index">Переглянути доступні новобудови</a>
 </div>
</div>
    